<div id="page-wrap" class="bg-white">
  {% block headerContent %}
    {% include '_partials/header' %}
  {% endblock %}

  {% block subNavMobile %}
    {% include '_partials/nav/subMobile' %}
  {% endblock %}

  <div class="px-4 xl:px-0 xl:container">
    {% block contentLayout %}
      {% embed '_layouts/content/default' %}
      {% endembed %}
    {% endblock %}
  </div>
</div>
{% block footerContent %}
  {% include '_partials/footer' %}
{% endblock %}
