{% cache %}
  {% apply spaceless %}
    <ul class="my-3 space-x-2 text-sm text-gray-500 mb-12 mt-4">
      <li class="inline-block"><a href="/">Domovská stránka</a></li>
      <li class="inline-block">/</li>
      {% if entry is defined %}
        {% for crumb in entry.getAncestors().all %}
          <li class="inline-block">{{ crumb.getLink() }}</li>
          <li class="inline-block">/</li>
        {% endfor %}
        <li class="inline-block">{{ entry.title }}</li>
      {% endif %}
      {% if thisTag is defined %}
        <li class="inline-block">{{ thisTag.title }}</li>
      {% endif %}
    </ul>
  {% endapply %}
{% endcache %}
