<footer>
  <div class="mt-8 bg-brand-one">
    <div class="xl:container">
      <div class="p-2 md:p-4">
        <img class="mx-auto mb-8" src="/img/logo-footer.png" alt="Rojas Logo">
        <p class="text-sm text-center text-white/40">&copy;{{ 'now'|date('Y') }} {{ siteName }}.sk. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>