<header>
  <div class="bg-white border-b border-brand-one lg:border-0">
    <div class="xl:container">
      <div class="flex items-center justify-between p-4 lg:p-4">
        <div class="logo"><a href="/" title="Back to Home Page"><img class="w-[200px] lg:w-[250px]" src="/img/logo.png" alt="{{ siteName }}" /></a></div>
        {# {% include '_partials/nav/top' %} #}
        <button type="button" aria-label="Main Navigation Toggle" title="Main Navigation Toggle" aria-haspopup="true" aria-controls="main-nav" aria-expanded="false" class="main-nav-toggle lg:hidden" id="main-nav-toggle">
          {{ svg("@webroot/img/icons/bars-solid.svg")|attr({class: 'h-8 w-8 inline-block text-brand-one'}) }}
        </button>
      </div>
    </div>
  </div>
  <div class="bg-brand-one">
    <div class="xl:container">
      {% include '_partials/nav/main' %}
    </div>
  </div>
</header>
